form(role="search")
    mat-form-field
        input(#searchInput,(blur)="onLoseFocus()",type="search",aria-label="Number",placeholder="Stopname",matInput,[formControl]="searchControl",[matAutocomplete]="auto",i18n-placeholder="Stopname to search@@stopnameToSearch",i18n-aria-placeholder="Stopname to search@@stopnameToSearch")