mat-nav-list(role="list")
    mat-list-item(*ngFor="let passage of routes")
        span.pattern-text {{passage?.shortName}}
        h3(matLine) {{passage?.shortName}} {{passage?.routeType}}
        p(matLine)
            span {{convertTime(passage?.actualRelativeTime,passage)}}
            span(class="demo-2") -- {{passage?.status}} -- {{passage?.plannedTime}}