:host {
    display:flex;
    background: #F9F9F9;
    flex-direction: column;
    justify-content: flex-start;
}
div.error-box{
    flex:0 0 auto;
    background:#B00020;
    color:white;
    padding:5px 20px 5px 20px;
    h3{
        font-size: 25px;
        line-height: 30px;
        padding:0px;
        margin:0px;
    }
    p{
        font-size: 15px;
        line-height: 20px;
        padding:0px;
        margin:0px;
    }
}
mat-tab-group{
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
    max-height: 100%;
    div.mat-tab-body-wrapper{
        overflow-y:auto;
    }
    mat-tab-header{
        position: fixed;
    }
}
mat-toolbar {
    flex-grow: 0;
}

mat-toolbar span.title {
    display: block;
    margin-bottom: 0px;
}

mat-toolbar span.subtitle {
    font-size: 12px;
    margin-top: 0px;
}

app-departure-list{
    overflow-y:auto;
    height: 100%;
}