:host {
    display:flex;
    background: #F9F9F9;
    flex-direction: column;
    //justify-content: flex-start;
}
div.error-box{
    flex:0 0 auto;
    background:#B00020;
    color:white;
    padding:5px 20px 5px 20px;
    h3{
        font-size: 25px;
        line-height: 30px;
        padding:0px;
        margin:0px;
    }
    p{
        font-size: 15px;
        line-height: 20px;
        padding:0px;
        margin:0px;
    }
}

@import './../../box-settings.scss';
div.header-box{
    position: relative;
    height:calc(100vw / 4 * 3);
    min-height:250px;
    max-height:300px;
    width: 100%;
    user-select: none; 

    map {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        ::ng-deep .leaflet-control-attribution{
            display:none;
        }
    }
    
    .title-box{
        position: absolute;
        bottom:0px;
        left:0px;
        right:0px;
        z-index: 800;
        padding:20px 20px 10px 20px;
        color:white;
        text-shadow: 0 0 5px black;
        background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7));
        display: flex;
        flex-direction: column;
        align-items: stretch;
        span.title{
            font-size: 20px;
            font-weight: bold;
        }
        span.subtitle{
            font-size: 12px;
            font-weight: bold;
        }
    }
}
