ng-container(*ngIf="stopInfoService.statusObservable | async as status")
    app-map-header-box([blur]="status.location == undefined",title="{{status?.stop.stopName}}",subtitle="Last Update: {{ status.lastUpdate | date:'mediumTime' }}")
        map(appStopLocation,role="none",[stopLocation]="status.location")
    mat-tab-group(mat-stretch-tabs,dynamicHeight)
        mat-tab(i18n-label="tab header departures|Departures@@departures",label="Departures")
            app-departure-list([departures]="status?.stop.actual")
        mat-tab(i18n-label="tab header routes|Routes@@Routes",label="Routes")
            app-route-list([routes]="status?.stop.routes")