.header-box
    map(appTripPassages,*ngIf="tripId==tripData?.tripId",[location]="tripData?.location",role="none")
    .title-box
        span.title(role="heading",aria-level="2") {{routeName}} - {{tripData?.directionText}}
div.error-box(*ngIf="updateStatus==StatusOps.ERROR",aria-errormessage="Error retrieving data",i18n-aria-errormessage="@@errorUpdatingData")
    span.title(i18n="@@error") Error
    span.text(i18n="@@error") Error
    button(mat-button,(click)="refreshData()",role="button",i18n="@@retry") Retry
mat-nav-list(*ngIf="tripId==tripData?.tripId",role="list")
    a(*ngFor="let passage of tripPassages",[routerLink]="['/stop', passage?.stop?.shortName]",role="listitem")
        mat-list-item
            mat-icon(matListIcon,role="figure",i18n-aria-label="@@busStopIcon",aria-label="Bus stop icon") trip_origin
            h3(matLine,aria-label="Stop name",i18n-aria-label="@@stopName") {{passage?.stop?.name}}
            p(matLine)
                span(role="timer") {{passage?.actualTime}}
                span(class="demo-2",role="status") -- {{passage?.status}}