mat-card-content.llla {
    overflow-y: scroll;
}

h3.route-title {
    padding: 24px;
}

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #F9F9F9;
    overflow-y: auto;
}

div.error-box {
    background: #F44336;
    padding: 16px;
}

div.error-box span.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

div.error-box span.title {
    font-size: 12px;
}

mat-list {
    padding: 20px;
}

.mat-card.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    >.mat-card-title-group {
        display: block;
    }
    >.mat-card-content {
        overflow-y: auto;
    }
}

div.header-box{
    position: relative;
    height:200px;
    width: 100%;
    user-select: none; 
}
app-follow-bus-map {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

div.header-box span{
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 800;
    padding:20px 20px 10px 20px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}