h3.route-title {
    padding: 24px;
}

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #F9F9F9;
    overflow-y: auto;
}

div.error-box {
    background: #F44336;
    padding: 16px;
    flex:0 0 auto; 
    span.title {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
    }
    span.title {
        font-size: 12px;
    }
}

mat-nav-list{
    flex-grow: 1;
}
