.header
    mat-icon help_outline
h3 Error Occured
container-element([ngSwitch]="3")
    p(*ngSwitchCase="1") The passage could not be found. It either expired or has yet to start.
    p(*ngSwitchDefault) An error occured while performing an action.