.header
    mat-icon help_outline
h3 Not Found
mat-nav-list(role="list")
    mat-list-item(*ngFor="let endpoint of endpoints",role="listitem"[routerLink]="[endpoint.path]")
        mat-icon(matListIcon) {{endpoint.icon}}
        h3(matLine) {{endpoint.title}}