mat-sidenav-container.main-container(#sidenavContainer,[hasBackdrop]="false")
    mat-sidenav.main-nav(#sidenav,mode="over")
        h2 empty content
    mat-sidenav-content
        map(appMainMap)
.overlay-box
    router-outlet