button(mat-icon-button,(click)="closeSidebar()")
    mat-icon close
mat-list
    h3(matSubheader) Head
    mat-list-item
        mat-icon(matListIcon) warning
        h4(matLine) No Content yet
        p(matLine) New stuff to come?
    mat-divider