/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~leaflet/dist/leaflet.css";
.vehiclemarker {
    height: 64px;
    width: 64px;
    font-size: 12px;
    color: white;
    padding: 5px;
    display: block;
    background-image: url("./assets/kvg-icon.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    span {
        margin: 10px 20px 10px 2px;
        display: inline-block;
        vertical-align: middle;
        align-self: center;
        line-height: 12px;
        width: 100%;
    }
}